header {
	height: 600px;
	background-image: url("images/coffee_cheesecake.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
}

.logo {
	width: 400px;
	margin-top: 230px;
	margin-left: 420px;

}

nav {
	position: fixed;
	width: 100%;
	display: block;
	top: 0px;
	font-family: helvetica;
} 

body {
	position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:transparent ;
}

li {
    float: left;
    padding: 5px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

li a:hover {
    background-color: white;
    color: #1f8dd6;
}

.snapshot {
	height: 470px;
	margin: 0;
	font-family: helvetica;
}

.snapshot h3 {
	color: #1f8dd6;
}

.snapshot_info {
	float: left;
}

.icon {
	width: 125px;
	margin-top: 110px;
}

.snapshot_item {
	float: left;
	display: inline-block;
	width: 200px;
	margin-left: 45px;
	text-align: center;
}

.icon:hover {
	box-shadow: 10px 10px 5px #1f8dd6;
	border-radius: 40px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  color: #663366;
}

section.module h3 {
/*  margin-bottom: 40px;*/
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  color: #663366;
}

section.module p {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 300;
  font-family: "Roboto Slab", serif;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 30px 0;
}
section.module.parallax {
  height: 500px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.name {
  margin-top: 75px;
  font-family: "Roboto Slab", serif;
  color: rgba(255, 255, 255, 0.8);
  line-height: 400px;
  font-size: 100px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
  background-image: url("images/meg_ross.jpg");
}
section.module.parallax-2 {
  background-image: url("images/coffee_wood_sneak.png");
}
section.module.parallax-3 {
  background-image: url("images/storefront.png");
}

.menu_container {
	max-width: 600px;
  	margin: 0 auto;
	height: 600px;
}

.column_one {
	float: left;
}

.column_two {
	float: right;
}



